<header class="navbar">
  <div class="navbar-inner">
    <a href="/" class="brand">OpenChessLab</a>
  </div>
</header>

<main class="container">
  <div class="content">
    {@inner_content}
  </div>
</main>

<p class="alert" role="alert">{Phoenix.Flash.get(@flash, :info)}</p>
<p class="alert alert-error" role="alert">{Phoenix.Flash.get(@flash, :error)}</p>
